{%extends 'layout.html'%}
{%block content%}
{%for content in contents%}
<div class="row left-1">
    <h3>{{content.title}}</h3>
    <p>作者：{{content.user.username}} -时间：{{content.addTime|date('Y-m-d H:i:s',-8*60)}} -阅读：{{content.views}} -评论：{{content.comments.length}}</p>
    <p class="content">{{content.describe}}</p>
    <a href="/view?contentId={{content.id}}" class="btn btn-read">阅读全文</a>
</div>
{%endfor%}
<div class="row page">
    <ul class="list-unstyled list-inline">
        <li class="pull-left">
            {%if page<=1%}
            <span>没有上一页了</span>
            {%else%}
            <a href="/?category={{category}}&page={{page-1}}">上一页</a>
            {%endif%}
        </li>
        <li>{%if pages<=0%}
            <strong>此分类下没有内容</strong>
            {%else%}
            <strong>{{page}}/{{pages}}</strong>
            {%endif%}
        </li>
        <li class="pull-right">
            {%if page>=pages%}
            <span>没有下一页了</span>
            {%else%}
            <a href="/?category={{category}}&page={{page+1}}">下一页</a>
            {%endif%}
        </li>
    </ul>
</div>
{%endblock%}